[Desktop Entry]
Name=jdAppdataEdit
Terminal=false
Type=Application
Icon=com.gitlab.JakobDev.jdAppdataEdit
Exec=jdappdataedit %f
Comment=A graphical Program to create and edit Appdata files
Comment[de]=Ein grafisches Programm zum erstellen und bearbeiten von Appdata Dateien
Comment[nl]=Een grafisch programma voor het aanmaken en bewerken van Appdata-bestanden
Categories=Development;
MimeType=application/x-freedesktop-appstream;
