# Created with jdDesktopEntryEdit 1.0
[Desktop Entry]
Type=Application
Name=jdAppStreamEdit
Comment=A graphical Program to create and edit AppStream files
Icon=page.codeberg.JakobDev.jdAppStreamEdit
TryExec=jdappstreamedit
Exec=jdappstreamedit %f
MimeType=application/x-freedesktop-appstream;
Categories=Development;
