# Created with jdDesktopEntryEdit 1.0
[Desktop Entry]
Type=Application
Name=jdAppStreamEdit External Releases Editor
Comment=A graphical Program to create and edit AppStream Releases files
Icon=page.codeberg.JakobDev.jdAppStreamEdit
TryExec=jdappstreamedit-external-releases-editor
Exec=jdappstreamedit-external-releases-editor %f
MimeType=application/x-freedesktop-appstream-releases;
Categories=Development;
